.secondcontent{
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
justify-content: center;
align-items: space-between;
}

.thirdpage{
    margin:30px 0;
}

.fourthpage{
    margin:30px 0;
}
.image{
    display: flex;
    justify-content: center ;
    align-items: center;
background-color: white;
height: 100vh;
color: black;
}
img{
    transform: rotate(326deg);
    position: fixed;
    top: 200px;
    right: 20%;
    z-index: 10;
filter: drop-shadow(0px 0 211px #fff) drop-shadow(0px 0 400px #fff) drop-shadow(0 0 304px #fff) drop-shadow(0 0 100px #fff); 


}

.cardupper{
    padding: 30px;
    border-radius: 20px;
    /* height: 340px; */
    /* width: 80%; */
    color: #C48CFC;
    background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%);
    z-index: 2;
    position: relative;
    top: 0px;
    }
    .headcard{
        position:relative;
        z-index: 3;
    }
    
    .carddown{
        /* position: absolute; */
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
        bottom: 100px;
        border-radius: 20px;
        height: 100px;
        /* width: 80%; */
        background-color: white;
        
        z-index: 0;
    transition: 1s;
    }
    .cardupper:hover ~ .carddown{
        bottom: 50px;
    }